.service-title {
    text-align: center;
    position: relative;
    line-height: 80px;
    font-size: 30px;
}

.service-title::before {
    content: '';
    background: #ff523b;
    width: 100px;
    height: 5px;
    position: absolute;
    top: 62%;
    right: 27%;
    transform: translateX(-50%);
}

.service-title::after {
    content: '';
    background: #ff523b;
    width: 100px;
    height: 5px;
    position: absolute;
    top: 62%;
    left: 36%;
    transform: translateX(-50%);
}


@media only screen and (max-width:1200px) {
    .service-title::before {
        right: 60%;
    }

    .service-title::after {
        left: 70%;
    }
}

@media only screen and (max-width:768px) {
    .service-title::before {
        display: none;
    }

    .service-title::after {
        display: none;
    }
}